body {
    background-color: #FFFFFF; 
}

header {
    background-color: rgba(0, 120, 255, 0.8); /* 使用明亮的蓝色背景，你可以根据需要调整颜色值 */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;  
}


.appContainer {
    margin-top: 200px;
    margin-left: 500px;;
}

.inputsContainer {
    margin-top: 20px;

}

.num {
    margin-bottom: 15px;
}

.remove {
    position: absolute;
    left: 700px;
}

#average {
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
